<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.ivan.tabletest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TabelTest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Login_Register.LoginActivity">
        </activity>
        <activity android:name=".Login_Register.RegisterActivity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="TableGrab">
        </activity>
        <activity
            android:name=".ClubActivity"
            android:label="Vanilla">
        </activity>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>